@model MVC_Lost_Found.Models.Item;


    <form asp-action="SearchItemsByFloorr">
    <select class="form-select" aria-label="Default select example" asp-for="FloorDetails" class="form-control">
        <option selected>Floor details</option>
        <option value="CT1-1">CT1-1</option>
        <option value="CT1-2">CT1-2</option>
        <option value="CT1-3">CT1-3</option>
        <option value="CT1-4">CT1-4</option>
        <option value="CT1-5">CT1-5</option>
        <option value="CT1-6">CT1-6</option>
        <option value="CT1-7">CT1-7</option>
        <option value="CT2-1">CT2-1</option>
        <option value="CT2-2">CT2-2</option>
        <option value="CT2-3">CT3-3</option>
        <option value="CT2-4">CT2-4</option>
        <option value="CT2-5">CT2-5</option>
        <option value="CT2-6">CT2-6</option>
        <option value="CT2-7">CT2-7</option>
    </select>
        <input type="submit" value="Search" class="btn btn-danger" />
   </form>



   


